* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.maincontainer, .container2, .container3 {
    animation-name: move3;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}


header{
    display: flex;
    justify-content: center;
    z-index: 2;

} 



nav {
      display: flex;  
     align-items: center; 
    justify-content: center; 
    gap: 40px;
    margin-top: 20px;
    position: fixed;
    top: 0;
    z-index: 2;

}

.navlinks {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.search {
    display: flex;
    gap: 20px;
}

.airpods {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px;
}

.pods {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    
    
}

.pod1 {
    display: flex;
    justify-content: center;
    height: 30%;
    z-index: 2;
    margin-top: 50px;
    height: 100%;


    /* animation-name: move;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-direction: alternate;
    animation-iteration-count: 3;
     */
    

}
.podspng{
    height: 77%;

    /* animation-name: move2;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: 3; */
    

}

.image10 {
    margin-left: 140px;
}

.content {
    position: absolute;
    left: 37%;
    top: 32%;
    bottom: 10%;
    z-index: 1;
}


.maincontent {
    margin-bottom: 200px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
    font-weight: bolder;
    font-size: 100px;
}

.subcontainer2 {
    border: 5px solid grey;
    border-radius: 40px;
    margin-top: px;
    margin: 0 150px 0 150px;
}

.content2 {
    position: relative;
}



h2 {
    display: flex;
    justify-content: center;
    font-size: 200px;
    position: absolute;
    top: 20%;
    left: 8%;
    z-index: 1;

}

.moneysign {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    left: 45%;

    top: 50%;

}

.headphone {
    display: flex;
    justify-content: center;
}

.airpodsmax {
    z-index: 2;
    animation-name: move3;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-direction: alternate;
    animation-iteration-count: 3;
    /* animation-delay: 3s; */
}

.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#buy {
    background: blue;
    color: white;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    width: 70px;
    border: none;
}

.btn a {
    color: blue;
}




.last {
    display: flex;
    flex-direction: column;
}

 .lastsection{
    color: blue;
} 



 h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
        font-size: 70px;
        margin-top: 100px;

} 

.content3 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 50px; 
} 

.airpodsmax1{
    position: relative;
    bottom: 70px;
}

.finalcontainer {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 70px;
} 
 
.inlineicon{
    display: flex;
justify-content: center;
gap: 180px;
margin-top: 50px;

}

.case{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.last{
    gap: 5px;
}





@keyframes move {
    from {
        transform: scale(100%);
    }
    to {
        transform: scale(50%);
    }
}

@keyframes move2{
    from{
        transform: scale(100%);
    }
    to{
        transform: scale(50%);
    }
}

@keyframes move3{
    from{
        transform: scale(100%);
    }

    to{
        transform: scale(50%);
    }
}